[data-children] > * + * {
  margin-top: var(--bt-spacing);
}

[data-children] > [data-kind='placeholder'],
[data-children] > [data-kind='spacer'] {
  margin-top: 0;
}

[data-kind] + [data-kind='placeholder']:not([data-measuring]) {
  display: none;
}

[data-measuring] [data-children] > [data-kind='spacer'] {
  display: none;
}

.bt-ghost-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
